{% extends 'book/base.html' %}

{% block content %}
<h2>{{ book.title }}</h2>
<ul class="list-group">
    <li class="list-group-item"><strong>Author:</strong> {{ book.author }}</li>
    <li class="list-group-item"><strong>Genre:</strong> {{ book.genre }}</li>
    <li class="list-group-item"><strong>ISBN:</strong> {{ book.isbn }}</li>
    <li class="list-group-item"><strong>Published On:</strong> {{ book.publication_date }}</li>
    <li class="list-group-item"><strong>Description:</strong> {{ book.description }}</li>
</ul>
<a href="{% url 'book-list' %}" class="btn btn-secondary mt-3">Back to List</a>
{% endblock %}
