<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Book Review</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'book-list' %}">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'book-create' %}">Add Book</a>
        </li>
      <!-- </ul> -->

      <!-- <ul class="navbar-nav ms-auto"> -->
        {% if user.is_authenticated %}
        <li class="nav-item navbar-text text-white">
          <span>
            Welcome, {{ user.username }}
          </span>
        </li>
           <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="nav-link btn btn-link" style="color: white; text-decoration: none;">
        Logout
      </button>
    </form>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
